/*-- scss:defaults --*/

/*-- scss:rules --*/

.render-commit-push {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #5b888c;
  border-bottom: 1px solid #5b888c;
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

.pull {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #e0a890;
  border-bottom: 1px solid #e0a890;
  background-size: 1em;
  background-position: 1em 0.5em;
}

strong {
  color: #56b8b6 !important;
  font-weight: bolder;
}

em {
  color: #92d5d4 !important;
}
